@model ExamAutomation.Domain.Models.Exams

<h2>Exam</h2>

@{

    <fieldset>

        <h1>@Model.Title</h1>

        <p>@Model.Description</p>

      
    </fieldset>
}


@await Component.InvokeAsync("Question",new {examId = Model.Id}) 


<div>
    @Html.ActionLink("Back to List", "Index")
</div>