@model ExamAutomation.Application.ViewModels.ExamListViewModel

@{
    ViewData["Title"] = "Index";
    var model = Model.ExamViewModels;
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
    <tr>
        <th>
            Sınav Başlık
        </th>
        <th>
            Soru 1
        </th>
        <th>
            Soru 2
        </th>
        <th>
            Soru 3
        </th>
        <th>
           Soru 4
        </th>
        
    </tr>
    </thead>
    <tbody>
        @foreach (var item in model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Exam.Title )
                </td>
                @foreach (var question in item.Questions)
                {
                    <td>
                        @Html.DisplayFor(modelItem => question.Question)
                    </td>
                }
               
                <td>
                    <a asp-action="EditExam" asp-route-id="@item.Exam.Id">Edit</a> |
                    <a asp-action="Delete" asp-route-id="@item.Exam.Id">Delete</a>
                </td>
            </tr>
        }
       
    </tbody>
</table>